@model IEnumerable<FlowpointSupportTicket>

@{
    ViewData["Title"] = "Index";
}

<h1>Tickets</h1>

<table class="table">
    <tbody>
        <tr>
            <td>
                <a asp-controller="Vendors" asp-action="Index" asp-route-companyid="@ViewBag.CompanyId">Back</a> |
                <a asp-action="Create" asp-route-vendorid="@ViewBag.VendorId">New Ticket</a>
            </td>
            <td>
                @using (Html.BeginForm("LookupById", "Tickets"))
                {
                    <input type="hidden" name="vendorId" value="@ViewBag.VendorId" />
                    <span>Lookup ID: @Html.TextBox("ticketId") <input type="submit" value="Lookup" /></span>
                }
            </td>
            <td>
                @using (Html.BeginForm("Search", "Tickets"))
                {
                    <input type="hidden" name="vendorId" value="@ViewBag.VendorId" />
                    <span>Search: @Html.TextBox("searchTerm") <input type="submit" value="Search" /></span>
                }
            </td>
        </tr>
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ITicketId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VTicketMessage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtCreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ICreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DtModifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IModifiedBy)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ITicketId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VTicketMessage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtCreatedDate)
            </td>
            <td>
                @Users.NameById[item.ICreatedBy]
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DtModifiedDate)
            </td>
            <td>
                @Users.NameById[item.IModifiedBy]
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ITicketId">Edit</a>
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.ITicketId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
