@model FlowpointSupportVendor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<a asp-controller="Vendors" asp-action="Index" asp-route-companyid="@Context.Request.Query["companyid"]">Back</a>
<hr />
<h4>@Html.DisplayFor(model => model.VVendorName) (ID: @Html.DisplayFor(model => model.IVendorId))</h4>
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VStreet1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VStreet1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VStreet2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VStreet2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VProvince)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VProvince)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VPostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VPostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VContact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VContact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VFax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VFax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtCreated)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IVendorId" asp-route-companyid="@Context.Request.Query["companyid"]">Edit</a> | 
    <a asp-controller="Tickets" asp-action="Index" asp-route-companyid="@Model?.ICompanyId" asp-route-vendorid="@Model?.IVendorId">Tickets</a>
</div>
