@model IEnumerable<FlowpointSupportVendor>

@{
    ViewData["Title"] = "Index";
}

<h1>Vendors</h1>

<p>
    <a asp-controller="Companies" asp-action="Index">Back</a> | 
    <a asp-action="Create" asp-route-companyid="@ViewBag.CompanyId">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IVendorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VProvince)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VCountry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VContact)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.IVendorId" asp-route-companyid="@item.ICompanyId">@Html.DisplayFor(modelItem => item.IVendorName)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VProvince)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VCountry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VContact)<br/>
                @Html.DisplayFor(modelItem => item.VPhone)<br/>
                @Html.DisplayFor(modelItem => item.VEmail)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IVendorId" asp-route-companyid="@item.ICompanyId">Edit</a>
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.IVendorId" asp-route-companyid="@item.ICompanyId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
