@model IEnumerable<FlowpointSupportVendor>

@{
    ViewData["Title"] = "Index";
}

<h1>Vendors</h1>

<table class="table">
    <tbody>
        <tr>
            <td>
                <a asp-controller="Companies" asp-action="Index">Back</a> |
                <a asp-action="Create" asp-route-companyid="@ViewBag.CompanyId">Add Vendor</a>
            </td>
            <td>
                @using (Html.BeginForm("LookupById", "Vendors"))
                {
                    <input type="hidden" name="companyId" value="@ViewBag.CompanyId" />
                    <span>Lookup ID: @Html.TextBox("vendorId") <input type="submit" value="Lookup" /></span>
                }
            </td>
            <td>
                @using (Html.BeginForm("Search", "Vendors"))
                {
                    <input type="hidden" name="companyId" value="@ViewBag.CompanyId" />
                    <span>Search: @Html.TextBox("searchTerm") <input type="submit" value="Search" /></span>
                }
            </td>
        </tr>
    </tbody>
</table>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IVendorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VVendorName)
            </th>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.VCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VProvince)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VCountry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VContact)
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IVendorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VVendorName)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.IVendorId" asp-route-companyid="@item.ICompanyId">Details</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VProvince)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VCountry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VContact)<br/>
                @Html.DisplayFor(modelItem => item.VPhone)<br/>
                @Html.DisplayFor(modelItem => item.VEmail)
            </td>
            <td>
                <a asp-controller="Tickets" asp-action="Index" asp-route-companyid="@item.ICompanyId" asp-route-vendorid="@item.IVendorId">Tickets</a>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IVendorId" asp-route-companyid="@item.ICompanyId">Edit</a>
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.IVendorId" asp-route-companyid="@item.ICompanyId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
