@model FlowpointSupportCompany

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
<h4>@Html.DisplayFor(model => model.VCompanyName) (ID: @Html.DisplayFor(model => model.ICompanyId))</h4>
<a asp-action="Index">Back</a>
<hr />
<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VCompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VCompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VStreet1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VStreet1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VStreet2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VStreet2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VProvince)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VProvince)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VPostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VPostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VContact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VContact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VFax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VFax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DtCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DtCreated)
        </dd>
    </dl>
    
    <h3>Are you sure?</h3>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ICompanyId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>
